.checkbox {
  .row;
  label {
    .flex;
    margin: 0 0 0 5px;
  }
  .container {
    cursor: pointer;
    &.active {
      svg {
        color: #27ae60;
      }
    }
    svg {
      font-size: 18px;
    }
  }
}